[:html
 [:head
  [:title {}
   Foam]]
 [:body
  [:div {:id "main"}]
  [:script {:src "js/outdev/goog/base.js"
            :type "text/javascript"}]
  [:script {:src "js/vendor/d3.v3.min.js"
            :type "text/javascript"}]
  [:script {:src "js/foam_dev.js"
            :type "text/javascript"}]
  [:script {:type "text/javascript"}
   "goog.require('cljs.foam.core')"]]]
